pip==21.0.1
bump2version==1.0.1
wheel==0.36.2
watchdog==2.0.2
flake8==3.9.1
tox==3.23.0
coverage==5.5
Sphinx==3.5.4
twine==3.4.1
Click>=6.0
path.py==12.5.0
pytest==6.2.3
pytest-runner==5.3.0
https://github.com/SekouD/potranslator/raw/dev/dependecy_wheels/importlib_resources-1.0.1-py2.py3-none-any.whl

googletrans==3.0.0
polib==1.1.1
